extends _layout

block content
    ol.breadcrumb
        li
            a(href='/') home
        li
            a(href='/data/' + library.name)= library.name
            | &nbsp;(
            a(href='/api/' + library.name) json
            | )
        li.active
            span= library.version
            | &nbsp;(
            a(href='/api/' + library.name + '/' + library.version) json
            | )
            
    .well
        .pull-right.btn-group
            a(href="javascript:void(0)" class="btn btn-default dropdown-toggle" data-toggle="dropdown")
                | #{library.version} &nbsp;
                span.caret
            ul.dropdown-menu
                each subversion in versions
                    li(class=subversion===library.version?'active':'')
                        a(href='/data/' + library.name + '/' + subversion)= subversion
                            
        h1= library.name
            |  &nbsp;
            small= library.version
        
        p.label-group
            each keyword in library.keywords
                a.label.label-primary(href='/?keyword=' + keyword)= keyword
        
        p= library.description

    .well
        each asset in library.assets
            h3=asset.file
            dl.dl-horizontal
                dt Compressed:
                dd=asset.size.compressed + ' bytes'
            dl.dl-horizontal
                dt Decompressed:
                dd=asset.size.decompressed + ' bytes'
                    
    #dump
        pre= dump
